@font-face {
    font-family: 'default';
    src: url('../fonts/Poppins-Light.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'default';
}

:root {
    --color-bg: #FEEBC3;
    --color-surface: #F4AB28;
    --color-sub-tooltip: #F4AB28;
    --color-text-sub-border-shadow: black;
    --color-border: #000000;
    --color-border-icon: #000000;
    --color-text: #000;
    --color-text-secondary: #000000;
    --shadow-border: rgba(0, 0, 0, 0.1);
    --color-border-card: #aaa;
    --color-text-h1: black;
    --color-text-h2: black;
    --color-text-h3: black;
    --color-text-h4: black;
    --color-text-h5: black;
    --color-text-h6: black;
    --color-text-p: black;
    --color-tooltip-bg: #000000;
    --color-tooltip-text: #fff;
    --color-primary: #0d6efd;
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #0dcaf0;
    --color-text-primary: white;
    --color-text-success: white;
    --color-text-danger: white;
    --color-text-warning: black;
    --color-text-info: black;
    --color-table: #f4ab28;
    --color-table-text: black;
    --color-table-thead:#f35b08;
    --color-table-text-thead: white;
    --color-table-hijo-row: #c55418;
    --color-table-hijo-row-text: white;
    --color-table-hover: black;
    --color-table-hover-text: white;
    --color-precio-rebajado: #e63946;
    --color-precio-tachado: #888;
    --color-header: #f35b08;
    --color-header-text: black;
    --color-bg-card: white;
    --color-datatable-search-card: white;
    --color-datatable-search-card-text: black;
    --color-text-label: black;
    --color-text-paginate-info: black;
    --color-text-paginate: #666;
    --sidebar-width: 7rem;
    --sidebar-width-min: 4.94rem;
    --sidebar-bg: linear-gradient(to right, #e5a06c, #f35b08);
    --color-sidebar-hover: #FEEBC3;
    --color-sidebar-text-hover: black;
    --color-text-secondary-sidebar:black;
    --color-text-tertiary-sidebar: black;
}

body.dark-mode {
    --color-bg: #3A3D4D;
    --color-surface: #12141A;
    --color-border: #FFFFFF;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #e5e5e5;
    --color-tooltip-bg: #fff;
    --color-tooltip-text: #000;
    --shadow-border: rgba(255, 255, 255, 0.1);
    --sidebar-bg: linear-gradient(to right, #4a4643, #0c0c0b);
    --color-primary: #4c8ffb;
    --color-success: #28c76f;
    --color-danger: #ff6b6b;
    --color-warning: #CD6F33;
    --color-info: #17a2b8;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg) !important;
}

.btn-primary,
.bg-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: var(--color-text-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.btn-success,
.bg-success{
    background-color: var(--color-success) !important;
    border-color: var(--color-success) !important;
    color: var(--color-text-success) !important;
}

.text-success {
    color: var(--color-success) !important;
}

.btn-danger,
.bg-danger{
    background-color: var(--color-danger) !important;
    border-color: var(--color-danger) !important;
    color: var(--color-text-danger) !important;
}

.text-danger {
    color: var(--color-danger) !important;
}

.btn-warning,
.bg-warning{
    background-color: var(--color-warning) !important;
    border-color: var(--color-warning) !important;
    color: var(--color-text-warning) !important;
}

.text-warning {
    color: var(--color-warning) !important;
}

.btn-info,
.bg-info{
    background-color: var(--color-info) !important;
    border-color: var(--color-info) !important;
    color: var(--color-text-info) !important;
}

.text-info {
    color: var(--color-info) !important;
}

.dataTables_wrapper .dataTables_filter input{
    background-color: var(--color-datatable-search-card) !important;
    color: var(--color-datatable-search-card-text) !important;
}
.dataTables_wrapper .dataTables_length select{
    background-color: var(--color-datatable-search-card) !important;
    color: var(--color-datatable-search-card-text) !important;
}
select{
    background-color: var(--color-datatable-search-card) !important;
    color: var(--color-datatable-search-card-text) !important;
    border-color: var(--color-border-card) !important;
}
input{
    background-color: var(--color-datatable-search-card) !important;
    color: var(--color-datatable-search-card-text) !important;
    border-color: var(--color-border-card) !important;
}

#tablaMenus_info{
    color: var(--color-text-paginate-info) !important;
}

label{
    color: var(--color-text-label) !important;
}
#tablaMenus_previous, #tablaMenus_next{
    color: var(--color-text-paginate) !important;
}

.sidebar {
    position: fixed;
    background: var(--sidebar-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: var(--sidebar-width);
    height: 100%;
    padding: 1.4rem 1rem 0;
    box-shadow: 1px 0px 10px var(--shadow-border);
    transition: width 0.5s ease;
    z-index: 2;
}

.sidebar.minimize {
    width: var(--sidebar-width-min);
}

.sidebar .header {
    width: 100%;
}

.menu-btn {
    z-index: 2;
    position: absolute;
    top: 3.5%;
    right: -0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #fff;
    color: #757575;
    box-shadow: 2px 2px 5px var(--shadow-border);
    cursor: pointer;
    transition: right 0.3s ease;
}

.menu-btn i {
    font-size: 1rem;
}

.sidebar.minimize .menu-btn {
    right: -2.2rem;
}

.sidebar.minimize .menu-btn i {
    transform: rotate(180deg);
}

.brand {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-left: 0.455rem;
    margin-bottom: 1.8rem;
    overflow: hidden;
}

.brand img {
    width: 2rem;
    border-radius: 50%;
}

.brand span {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-text-tertiary-sidebar);
}

.brand-dark {
    display: none;
}

body.dark-mode .brand-dark {
    display: block;
}

body.dark-mode .brand-light {
    display: none;
}

.menu-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    width: 100%;
    padding: 0.55rem 0;
    margin-bottom: 1.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 1px var(--color-border);
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.search:hover {
    box-shadow: 0 0 0 1px var(--color-sidebar-text-hover);
}

.sidebar.minimize .search {
    box-shadow: none;
}

.sidebar.minimize .search:hover {
    background-color: var(--color-bg);
}

.search i {
    font-size: 1rem;
    color: var(--color-text-secondary-sidebar);
    padding: 0 0.8rem;
}

.search:hover i {
    color: var(--color-text-secondary-sidebar);
}

.search input {
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent !important;
    color: var(--color-text-secondary-sidebar);
}

.search input::placeholder {
    color: #8a4700;
    opacity: 1;
}

body.dark-mode .search input::placeholder {
    color: #fff;
    opacity: 1;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;
}

.menu .menu-item {
    position: relative;
    list-style: none;
    overflow: hidden;
}

.menu .menu-link {
    display: flex;
    padding: 0.55rem 0;
    color: var(--color-text-secondary-sidebar);
    text-decoration: none;
    border-radius: 0.3rem;
}

.menu-item:hover .menu-link,
.sub-menu .sub-menu-link:hover,
.menu-item.active .menu-link {
    color: var(--color-sidebar-text-hover);
    background-color: var(--color-sidebar-hover);
}

.menu-link i {
    font-size: 1.4rem;
    padding: 0 0.8rem;
}

.menu-link i:last-child {
    margin-left: auto;
}

.sidebar.minimize .menu-link i:last-child {
    display: none;
}

.menu-item.sub-menu-toggle .menu-link i:last-child {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.menu-link span {
    width: max-content;
    font-size: 0.8rem;
    align-self: center;
    font-weight: bold;
}

.sidebar.minimize .menu-item:hover,
.sidebar.minimize .menu-item.sub-menu-toggle {
    overflow: visible;
}

.sidebar.minimize .menu-item:hover span,
.sidebar.minimize .menu-item.sub-menu-toggle span {
    position: absolute;
    left: 4.2rem;
    padding: 0.5rem;
    background-color: var(--color-tooltip-bg);
    border-radius: 0.4rem;
    color: var(--color-tooltip-text);
    transition: all 0.3s ease;
}

.sub-menu {
    height: 0;
    transition: all 0.3s ease;
    list-style: none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    left: 0;
}

.sidebar.minimize .sub-menu {
    position: absolute;
    left: 4.2rem;
    background-color: var(--color-sub-tooltip);
    box-shadow: 0 0 4px var(--color-text-sub-border-shadow);
    border-radius: 0.2rem;
    top: 3rem;
}

.sub-menu li {
    list-style: none;
}

.sub-menu .sub-menu-link {
    display: flex;
    margin-left: 2.5rem;
    padding: 0.55rem 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--color-text-secondary-sidebar);
    text-decoration: none;
    border-radius: 0.3rem;
}

.sub-menu::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.07rem;
    margin-left: 1.4rem;
    background-color: var(--color-border);
}

.sidebar.minimize .sub-menu::before {
    width: 0;
}

.sidebar.minimize .sub-menu a {
    margin: 0 0.5rem;
}

.sidebar .footer {
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 -0.02rem 0 0 var(--color-border);
}

.user {
    display: flex;
    overflow: hidden;
    margin-top: 1rem;
}

.user-img {
    display: flex;
    margin: 0 0.7rem 0 0.35rem;
}

.user-img img {
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.user-data {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
}

.user-data .name {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-text);
}

.user-data .email {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-text-secondary);
}

.user-icon {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--color-text-secondary);
}

main {
    padding: 2rem 3rem 3rem calc(var(--sidebar-width) + 2rem);
    transition: padding 0.5s ease;
    width: -webkit-fill-available;
    font-size: 0.8rem;
}

main h1 {
    color: var(--color-text);
}

.sidebar.minimize + main {
    padding-left: calc(var(--sidebar-width-min) + 3rem);
}

.dark-mode-btn {
    z-index: 2;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--color-border-icon);
    cursor: pointer;
    overflow: hidden;
}

.dark-mode-btn i {
    font-size: 1.5rem;
    position: absolute;
    transition: transform 0.3s ease;
}

.dark-mode-btn i:last-child {
    transform: translateY(150%);
}

body.dark-mode .dark-mode-btn i:last-child {
    transform: translateY(0%);
}

body.dark-mode .dark-mode-btn i:first-child {
    transform: translateY(-150%);
}

.card-header,
.card-footer {
    background-color: var(--color-header) !important;
    color: var(--color-header-text) !important;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-body {
    background-color: var(--color-bg-card);
}

body.dark-mode .card-header,
body.dark-mode .card-footer {
    background-color: #000 !important;
}

body.dark-mode .card-body {
    background-color: white;
}

.table {
    border: 2px solid #333;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background-color: #f35b08;
    color: white;
}

body.dark-mode .table {
    border: 2px solid #ffffffaa;
    color: white;
}

body.dark-mode .table thead {
    background-color: #000000;
    color: white;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: black !important;
    color: white !important;
    cursor: pointer;
}

body.dark-mode .table tbody tr:hover td,
body.dark-mode .table tbody tr:hover th {
    background-color: white !important;
    color: black !important;
}

.table-orange-personality {
    background-color: var(--color-table);
    color: var(--color-table-text) !important;
    border: 2px solid #333;
}

.table-orange-personality thead {
    background-color: var(--color-table-thead);
    color: var(--color-table-text-thead);
}

.table-orange-personality thead tr td {
    background-color: #b87d10 !important;
    color: black;
}

.table-orange-personality tbody tr.hijo-row {
    background-color: var(--color-table-hijo-row);
    color: var(--color-table-hijo-row-text);
}

.table-orange-personality tbody tr:hover td {
    background-color: var(--color-table-hover) !important;
    color: var(--color-table-hover-text) !important;
}

.precio-normal {
    font-size: 14px;
    color: #555;
}

.precio-tachado {
    text-decoration: line-through;
    color: var(--color-precio-tachado);
    margin-right: 5px;
}

.precio-rebajado {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-precio-rebajado);
}

.precio-rango {
    font-size: 14px;
    font-weight: bold;
    color: #1d3557;
}

.precio-unico {
    font-size: 15px;
    font-weight: bold;
    color: #2a9d8f;
}

h1{
    color: var(--color-text-h1) !important;
}
h2{
    color: var(--color-text-h2) !important;
}
h3{
    color: var(--color-text-h3) !important;
}
h4{
    color: var(--color-text-h4) !important;
}
h5{
    color: var(--color-text-h5) !important;
}
h6{
    color: var(--color-text-h6) !important;
}
p{
    color: var(--color-text-p) !important;
}
.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.modal-title{
    color: white !important;
}

.limite-alcanzado {
    border-color: var(--color-warning) !important;
    background-color: rgba(255, 193, 7, 0.05) !important;
}

.limite-excedido {
    border-color: var(--color-danger) !important;
    background-color: rgba(220, 53, 69, 0.05) !important;
}

.producto-lista-item:last-child {
    border-bottom: 2px dashed #6c757d !important;
}

.producto-excedente {
    opacity: 0.6;
    background-color: rgba(255, 193, 7, 0.1) !important;
    border-left: 3px solid var(--color-warning) !important;
}

.seccion-card {
    transition: all 0.3s ease;
}

.seccion-card:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.seccion-card:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    transform: translateY(-1px);
}

.seccion-card.border-primary {
    border-left-color: var(--color-primary);
}

.seccion-card.border-secondary {
    border-left-color: #6c757d;
    opacity: 0.8;
}
.seccion-handle {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.seccion-handle:hover {
    cursor: move;
}

.seccion-handle i {
    transition: color 0.2s ease;
}

.seccion-handle:hover i {
    color: var(--color-primary) !important;
}

.sortable-ghost {
    opacity: 0.6;
    background: #f8f9fa !important;
    border: 2px dashed var(--color-primary) !important;
}

.sortable-chosen {
    background-color: rgba(13, 110, 253, 0.1) !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sortable-drag {
    opacity: 0.8;
    transform: rotate(3deg);
    cursor: grabbing !important;
}

@media (max-height: 683px) {
    .menu-container {
        overflow-y: visible;
    }
    
    .search {
        box-shadow: none;
        border: 2px solid var(--color-border);
        display: none;
    }
    
    .search:hover {
        box-shadow: none;
    }
    
    main {
        padding: 2rem;
    }
}

@media (max-width: 767px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        width: 100% !important;
        max-width: 100%;
        z-index: 1001;
        overflow-y: auto;
        height: 100vh;
        padding-top: 3.5rem;
    }
    
    .sidebar-btn {
        display: flex !important;
        position: fixed;
        top: 1rem;
        right: 1rem; 
        z-index: 1002;
        width: 2.5rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
        background-color: var(--color-surface);
        color: white;
        border-radius: 0.3rem;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: right 0.3s ease;
    }
    
    body.sidebar-hidden .sidebar-btn {
        position: absolute; 
        top: 1rem;
        right: 1rem;
        z-index: 1003; 
        background-color: rgba(255, 255, 255, 0.9);
        color: var(--color-surface);
    }
    
    .menu-btn {
        display: none !important;
    }
    
    .sidebar-btn i:last-child {
        display: none;
    }
    
    body.sidebar-hidden .sidebar {
        transform: translateX(0);
    }
    
    body.sidebar-hidden .sidebar-btn i:last-child {
        display: flex;
    }
    
    body.sidebar-hidden .sidebar-btn i:first-child {
        display: none;
    }
    
    main {
        padding: 2rem 1rem !important;
        margin-left: 0 !important;
        width: 100%;
    }
    
    .sidebar .header {
        position: relative;
        z-index: 1;
    }
    
    .sidebar .brand {
        padding: 1rem;
        margin-bottom: 0;
        margin-top: -3rem;
    }
    
    .sidebar .brand img {
        width: 3rem;
        height: 3rem;
    }
    
    .sidebar .brand span {
        font-size: 1.5rem;
    }
    
    .menu-link i {
        font-size: 1.6rem;
        padding: 0 1rem;
    }
    
    .menu-link span {
        font-size: 1rem;
    }
    
    .sub-menu .sub-menu-link {
        font-size: 0.9rem;
        padding: 0.7rem 0.5rem;
    }
    
    .user {
        padding: 1rem;
    }
    
    .user-img img {
        width: 3rem;
        height: 3rem;
    }
    
    .user-data .name {
        font-size: 1rem;
    }
    
    .user-data .email {
        font-size: 0.8rem;
    }
    
    .search {
        padding: 0.8rem 0;
        margin: 1rem 1rem 2rem 1rem;
        width: calc(100% - 2rem);
    }
    
    .search input {
        font-size: 1rem;
    }
    
    .menu-container {
        flex: 1;
        overflow-y: auto;
        width: 100%;
        padding-bottom: 1rem;
    }
    
    .menu-container::-webkit-scrollbar {
        width: 6px;
    }
    
    .menu-container::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    
    .menu-container::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    
    .menu-container::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    
    .sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000; 
    }
    
    body.sidebar-hidden .sidebar-overlay {
        display: block;
    }
    
    #btnBuscar {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .dataTables_length {
        flex-direction: column;
        align-items: stretch;
    }
    
    .dataTables_length label {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    
    .dataTables_length button {
        width: 100%;
    }
    
    #tablaPermisos th,
    #tablaPermisos td {
        font-size: 0.85rem;
        padding: 0.4rem;
    }
    
    #tablaPermisos input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }

    .dark-mode-btn {
        z-index: 1000;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
    }
    
    body.sidebar-hidden .dark-mode-btn {
        display: none; 
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        transform: translateX(0) !important;
        position: fixed;
        width: var(--sidebar-width) -2rem;
        height: 100%;
        padding-top: 1.4rem; 
    }
    
    .sidebar.minimize {
        width: var(--sidebar-width-min);
    }
    
    .sidebar-btn {
        display: none !important;
    }
    
    .sidebar-overlay {
        display: none !important;
    }
    
    .menu-btn {
        display: flex !important;
    }
    
    main {
        margin-left: var(--sidebar-width);
        transition: margin-left 0.5s ease;
        width: calc(100% - var(--sidebar-width));
        padding: 2rem 1rem 2rem calc(var(--sidebar-width));
        padding-left: 0;
    }
    
    .sidebar.minimize + main {
        margin-left: var(--sidebar-width-min);
        width: calc(100% - var(--sidebar-width-min));
        padding-left: calc(var(--sidebar-width-min) - 38px);
    }
    
    .sidebar .brand {
        padding-left: 0.455rem;
        margin-bottom: 1.8rem;
        margin-top: 0;
    }
    
    .sidebar .brand img {
        width: 2rem;
        height: 2rem;
    }
    
    .sidebar .brand span {
        font-size: 1.3rem;
    }
    
    .menu-link i {
        font-size: 1.4rem;
        padding: 0 0.8rem;
    }
    
    .menu-link span {
        font-size: 0.8rem;
    }
    
    .dark-mode-btn {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
    
    body.sidebar-hidden .sidebar {
        transform: translateX(0) !important; 
    }
    
    .sidebar {
        --sidebar-width: 8rem;
    }
    
    .menu-link span {
        font-size: 0.85rem;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        transform: translateX(0) !important;
        position: fixed;
        width: var(--sidebar-width);
        height: 100%;
    }
    
    .sidebar.minimize {
        width: var(--sidebar-width-min);
    }
    
    .sidebar-btn {
        display: none !important;
    }
    
    .sidebar-overlay {
        display: none !important;
    }
    
    .menu-btn {
        display: flex !important;
    }
    
    main {
        margin-left: var(--sidebar-width);
        transition: margin-left 0.5s ease;
        width: calc(100% - var(--sidebar-width));
        padding: 2rem 3rem 3rem calc(var(--sidebar-width) + 2rem);
    }
    
    .sidebar.minimize + main {
        margin-left: var(--sidebar-width-min);
        width: calc(100% - var(--sidebar-width-min));
        padding-left: calc(var(--sidebar-width-min) + 3rem);
    }
    
    .sidebar .brand {
        padding-left: 0.455rem;
        margin-bottom: 1.8rem;
        margin-top: 0;
    }
    
    .sidebar .brand img {
        width: 2rem;
        height: 2rem;
    }
    
    .sidebar .brand span {
        font-size: 1.3rem;
    }
    
    .menu-link i {
        font-size: 1.4rem;
        padding: 0 0.8rem;
    }
    
    .menu-link span {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        --sidebar-width: 16rem;
    }
    
    main {
        padding: 2.5rem 1rem 3rem calc(var(--sidebar-width) + 3rem);
    }
    
    .sidebar.minimize + main {
        padding-left: calc(var(--sidebar-width-min) - 3rem);
    }
    
    .menu-link span {
        font-size: 0.9rem; 
    }
}

@media (max-width: 768px) {
    .seccion-card .d-flex {
        flex-flow: wrap;
        place-content: space-evenly;
        text-align: center;
    }
    
    .seccion-card .d-flex > div {
        margin-bottom: 10px;
    }
    
    .seccion-card .form-switch {
        margin-right: 0 !important;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .sidebar {
        --sidebar-width: 7rem;
    }
    
    main {
        padding: 1.5rem 2rem 2rem calc(var(--sidebar-width) + 1.5rem);
    }
    
    .sidebar.minimize + main {
        padding-left: calc(var(--sidebar-width-min) + 1.5rem);
    }
}

.btn-close {
    background-color: white !important;
}
